
# ML
# --------------------
# Verify your cuda version to make sure the right torch gets installed
# You can pass --extra-index-url https://download.pytorch.org/whl/cu116 (or whatever your version is)
openai-whisper==20230124 # https://github.com/openai/whisper
# Backend
# --------------------
pytube==12.1.2 # https://github.com/pytube/pytube
SQLAlchemy==2.0.3 # https://github.com/sqlalchemy/sqlalchemy

# Frontend
# --------------------
streamlit==1.18.1 # https://github.com/streamlit/streamlit
